@import url(//fonts.googleapis.com/earlyaccess/nats.css);

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html, body {
position: fixed;
display: flex;
overflow: visible;
overflow: auto;
gap: 10px;
flex-direction: column;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;

background: #000000;
}

h1{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'NATS';
  font-style: normal;
  margin: 0; 
  font-size: 25px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

table {
  width: 95%;
  margin-left: 2rem;
  margin-top: 1rem;
  background-color: #000000;
  color: white;
  border: 2px solid #FFFFFF;
}
ng-container{
 color: white;
}
.datepick{
  margin-left: 2rem;
  background-color: #000000;
  width: 300px;
}

mat-form-field{
  width: 95%;
}

mat-label{
  color: white;
}

th,td,tr{
  color: white;
  font-family: 'NATS';
  font-style: normal;
}
mat-date-range-input{
  color: white;
  font-family: 'NATS';
  font-style: normal;
}
mat-hint{
  color: white;
  font-family: 'NATS';
  font-style: normal;
}