<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  routerLink="" >OFFICE VIEW</a>
      <a mat-list-item  routerLink="table-view" >TABLE VIEW</a>
      <a mat-list-item  routerLink="" >MY RESERVATION</a>
      <a mat-list-item  routerLink="admin-panel">ADMIN PANEL</a>
      <!-- (click)=drawer.toggle() -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon>menu</mat-icon>
      </button>
      <span>front-app-ver-1</span>
    </mat-toolbar>

      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
