@import url(//fonts.googleapis.com/earlyaccess/nats.css);

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html, body {
position: fixed;
display: flex;
overflow: visible;
overflow: auto;
gap: 10px;
flex-direction: column;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;

background: #000000;
}
h1{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'NATS';
  font-style: normal;
  margin: 0; 
  font-size: 25px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.datepicker-box{
  margin-left: 2rem;
};
.datepick{
  margin-left: 2rem;
  background-color: #000000;
  width: 300px;
}
ng-container{
  color: white;
  font-size: 25px;
 }
 mat-label{
  color: white;
  font-size: 25px;
}
p{
  color: white;
  font-size: 25px;
  font-family: 'NATS';
  font-style: normal;
}
mat-date-range-input{
  color: white;
  font-size: 20px;
  font-family: 'NATS';
  font-style: normal;
}
mat-hint{
  color: white;
  font-family: 'NATS';
  font-style: normal;
  
}