<html lang="en">
  <head>
    <title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<header>
    <h1>Main Menu</h1>
</header>
<hr>
    <div class="container">
        <div class="button">
            <input type="button" class="button" routerLink="/home" value="Office View">
        </div>
        <div class="button">
            <input type="button" class="button" routerLink="/table-view" value="Table View">
        </div>
        <div class="button">
            <input type="button" class="button" routerLink="/my-res" value="My Reservation">
        </div>
        <div class="button">
            <input type="button" class="button" routerLink="/admin-panel" value="Admin Panel">
        </div>
    </div>
</html>