<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<header>
<h1 mat-subheader>Add User</h1>
</header>
<hr>
<div class="formdiv">
  <form [formGroup]="userForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="name" matInput
             placeholder="Please enter user's name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <mat-select formControlName="departament">
        <mat-option *ngFor="let dep of depList" [value]="dep">
          {{dep}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let pos of posList" [value]="pos">
          {{pos}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Phone No.</mat-label>
      <input formControlName="phone" type="phone" matInput
             placeholder="Please enter phone number">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput
             placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput
             placeholder="Min. 5 characters long">
    </mat-form-field>
  </form>
</div>
<div class="button">
  <button mat-raised-button color="warn" (click)="addUser()" >Save</button>
</div>
</html>