<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <header>
    <h1>Admin Panel</h1>
</header>
<hr>
  <div class="row" >
  <div class="column">
    <button class="btn1" mat-raised-button routerLink="add-user">ADD USER</button>
    <button class="btn1" mat-raised-button routerLink="edit-user">EDIT USER</button>
    <button class="btn1" mat-raised-button routerLink="add-user">EDIT OFFICE</button>
  </div>
  <div class="column" >
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>