*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  html, body {
  position: fixed;
  display: flex;
  overflow: visible;
  overflow: auto;
  gap: 10px;
  flex-direction: column;
  top: 0px;
  left: 50%;
  bottom: 0px;
  right: 0px;
  Margin: 0;
  
  background: #000000;
  }

table {
  width: 100%;

}

h1{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'NATS';
  font-style: normal;
  margin: 0; 
  font-size: 25px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

mat-form-field {
  width: 95%;
}
mat-label{
  color: white;
  font-size: 25px;
}
input{
  color: white;
  font-family: 'NATS';
  font-style: normal;
  font-size: 25px;
}
.mat-elevation-z8{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.scale-container{
  margin-top: 10rem;
}
