@import url(//fonts.googleapis.com/earlyaccess/nats.css);

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html, body {
position: fixed;
display: flex;
overflow: visible;
overflow: auto;
gap: 10px;
flex-direction: column;
top: 0px;
left: 50%;
bottom: 0px;
right: 0px;
Margin: 0;

background: #000000;
}

h1{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'NATS';
  font-style: normal;
  margin: 0; 
  font-size: 25px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
mat-form-field{
  width: 95%;
}

mat-label{
  color: white;
}
.not-empty-select.mat-selected {
  color: white !important;
  font-family: 'NATS';
  font-style: normal;
}

:host /deep/ .mat-select-value-text {
  color: white !important;
  font-family: 'NATS';
  font-style: normal;
}
input{
  color: white;
  font-family: 'NATS';
  font-style: normal;
}
.formdiv{
  color: white;
  font-family: 'NATS';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-top: 10rem;
}
