@import url(//fonts.googleapis.com/earlyaccess/nats.css);


/* Login Screen - Desktop */
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html, body {
position: fixed;
display: flex;
overflow: visible;
overflow: auto;
gap: 10px;
flex-direction: column;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;

background: #000000;
}

.column {
  display: flex;
  gap: 10px;
  flex-direction: column;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 50%;

}

h1{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'NATS';
  font-style: normal;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
h1{
  margin: 0; 
  font-family: 'NATS';
  font-style: normal;
  font-size: 25px;
}

.btn1 {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'NATS';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-stretch: ultra-expanded;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  display: inline-block;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
}
