<form class="body">
  <div class="buttons"></div>
  <div class="Rectangle3"></div>
  <div class="Login">
    <input class="Login" type="text" placeholder="Login" name="user"><br>
  </div>
  <div class="Rectangle4"></div>
  <div class="Pass">
    <input class="Pass" type="password" placeholder="Password" name="password">
  </div>
  <a class="forgot" routerLink="/signUp">Forgot Password?</a>
  <div class="Rectangle5"></div>
  <div class="Log">
  <input  type="button" value="Log In" class="Log">
  </div>   
      <div class="logo"></div>
      <div class="ellipse1"></div>
      <div class="text">Ripple Hot Seat Test Web</div>
</form>