@import url(//fonts.googleapis.com/earlyaccess/nats.css);

/* Login Screen - Desktop */
.body{
position: relative;
width: 1440px;
height: 1024px;

background: #000000;
}

/* Buttons */
.buttons{
position: absolute;
width: 560px;
height: 374px;
left: 789px;
top: 325px;
}


/* Log In */
.Log{
position: absolute;
width: 560px;
height: 69px;
}


/* Rectangle 5 */
.Rectangle5{
position: absolute;
height: 69px;
left: 789px;
right: 91px;
top: 630px;

background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 50px;
}

/* Log In */
.Log input[type="button"]{
position: absolute;
width: 510px;
height: 69px;
left: 814px;
top: 632px;

font-family: 'NATS';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
align-items: center;
text-align: center;

background-color: white;
color: #000000;
border:none;
}


/* Password */
.Pass{
position: absolute;
width: 560px;
height: 167px;
}


/* Rectangle 4 */
.Rectangle4{
position: absolute;
height: 69px;
left: 789px;
right: 91px;
top: 459px;

border: 2px solid #FFFFFF;
border-radius: 50px;
}

/* Password */
.Pass input[type=password]{
position: absolute;
width: 280px;
height: 40px;
left: 829px;
top: 474px;

font-family: 'NATS';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 165% */
display: flex;
align-items: center;
color: white;
background-color: black;
border:none;
}


/* Forgot Password? */
.forgot{
position: absolute;
width: 558px;
height: 98px;
left: 789px;
top: 513px;

font-family: 'NATS';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
display: flex;
align-items: center;

color: #FFFFFF;
}


/* Login */
.Login{
position: absolute;
width: 560px;
height: 100px;
}


/* Rectangle 3 */
.Rectangle3{
position: absolute;
height: 68px;
left: 789px;
right: 91px;
top: 341px;

border: 2px solid #FFFFFF;
border-radius: 50px;
}

/* Login */
.Login input[type=text]{
position: absolute;
width: 280px;
height: 40px;
left: 829px;
top: 355px;

font-family: 'NATS';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 165% */
display: flex;
align-items: center;

color: white;
background-color: black;
border:none;
}

/* Logo */
.logo{
position: absolute;
width: 601px;
height: 500px;
left: 86px;
top: 262px;
}


/* Ellipse 1 */
.ellipse1{
position: absolute;
width: 500px;
height: 500px;
left: calc(50% - 500px/2 - 334px);
top: calc(50% - 500px/2);

background: rgba(255, 255, 255, 0.15);
border: 31px solid rgba(255, 255, 255, 0.15);
box-sizing: border-box;
border-radius: 50%;
}

/* Ripple Hot Seat Test Web */
.text{
position: absolute;
height: 433px;
left: 86px;
right: 753px;
top: calc(50% - 433px/2 - 0.5px);

font-family: 'Ranga';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 136px;
/* or 68% */
display: flex;
align-items: center;
text-align: center;
-webkit-text-stroke: 3px white;
color: #000000;
}
